<div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top">
                <input type="text" ng-model="searchUser" />
                <a class="fa fa-plus-circle fa-3x chat-button chat-button-enabled" aria-hidden="true" ng-click="addUser()"></a>
            </div>
            <ul class="people">
                <li ng-repeat="user in users" class="person" data-chat="{{user.userid}}">
                    <span class="name">{{user.username}}</span>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>Para: <span class="name">{{userActive.username}}</span></span>
            </div>
            <div id="messages">
                <div class="chat active-chat">
                    <div ng-repeat="message in userActive.messages" ng-class="{'bubble me' : message.me, 'bubble you' : !message.me}">
                        {{message.msg}}
                    </div>
                </div>
            </div>
            <div class="write">
                <input type="text" ng-model="textMessage" ng-disabled="userActive == null" />
                <a class="fa fa-arrow-circle-right fa-2x chat-button" aria-hidden="true" ng-click="sendMessage()" ng-class="{'chat-button chat-button-enabled' : textMessage, 'chat-button chat-disabled-button' : !textMessage}"></a>
            </div>
        </div>
    </div>
</div>
<span class="credits">design: <a href="https://dribbble.com/Miksa" target="_blank">milan</a>, code: <a href="http://codepen.io/Momciloo" target="_blank">momcilo</a></span>
